.hidden {
  display: none;
}

main {
  position: relative;
  height: 70vh;
}

.headShots {
  position: absolute;
  bottom: 50px;
  width: 20vw;
  height: 40vh;
}

.kanyeImage {
  left: 50px;
}

.trumpImage {
  right: 50px;
}

.content {
  @include flex(column, space-between);
  width: 100%;
  height: 60vh; // also change .results in partial 
}

blockquote {
  position: relative;
  @include flex(column, center);
  width: 50%;
  text-align: center;
  margin-top: 40px;
  padding: 20px 30px;
  min-height: 200px;
}

blockquote::before {
  content: "“";
  font-size: 13rem;
  position: absolute;
  top: 40px;
  left: -20px;
}

blockquote::after {
  content: "”";
  font-size: 13rem;
  position: absolute;
  bottom: -30px;
  right: -20px;
}

.userInput {
  display: flex;
  justify-content: space-between;
  width: 50%;
  margin-top: 40px;
  padding-bottom: 40px;
}

.score{
  @include flex(column);
}
