.hidden {
  display: none;
}

main {
  position: relative;
  height: 70vh;
}

.headShots {
  position: absolute;
  bottom: 50px;
  width: 20vw;
  height: 40vh;
  animation: headExpand 1.5s ease infinite alternate;
}

@keyframes headExpand {
  from {
    -webkit-filter: 
      drop-shadow(10px -10px $secondary)
      drop-shadow(-10px 10px $tertiary);
    filter: 
      drop-shadow(10px -10px $secondary)
      drop-shadow(-10px 10px $tertiary);
  }
  to {
    -webkit-filter: 
      drop-shadow(25px -25px $secondary)
      drop-shadow(-25px 25px $tertiary);
    filter: 
      drop-shadow(25px -25px $secondary)
      drop-shadow(-25px 25px $tertiary);
  }
}

@keyframes kanyeSpin {
  from {
    transform: rotate(0deg);
    -webkit-filter: 
      drop-shadow(10px -10px $secondary)
      drop-shadow(-10px 10px $tertiary);
    filter: 
      drop-shadow(10px -10px $secondary)
      drop-shadow(-10px 10px $tertiary);
  }
  to {
    transform: rotate(-360deg);
    -webkit-filter: 
      drop-shadow(25px -25px $secondary)
      drop-shadow(-25px 25px $tertiary);
    filter: 
      drop-shadow(25px -25px $secondary)
      drop-shadow(-25px 25px $tertiary);
  }
}

@keyframes trumpSpin {
  from {
    transform: rotate(0deg);
    -webkit-filter: 
      drop-shadow(10px -10px $secondary)
      drop-shadow(-10px 10px $tertiary);
    filter: 
      drop-shadow(10px -10px $secondary)
      drop-shadow(-10px 10px $tertiary);
  }
  to {
    transform: rotate(360deg);
    -webkit-filter: 
      drop-shadow(25px -25px $secondary)
      drop-shadow(-25px 25px $tertiary);
    filter: 
      drop-shadow(25px -25px $secondary)
      drop-shadow(-25px 25px $tertiary);
  }
}

.kanyeImage {
  left: 50px;

  &:hover,
  &:focus {
    animation: kanyeSpin 1s infinite linear;
  }
}

.trumpImage {
  right: 50px;

  &:hover,
  &:focus {
    animation: trumpSpin 1s infinite linear;
  }
}

.content {
  @include flex(column, space-between);
  width: 100%;
  height: 60vh; // also change .results in partial 
}

blockquote {
  position: relative;
  @include flex(column, center);
  width: 50%;
  text-align: center;
  margin-top: 40px;
  padding: 20px 30px;
  min-height: 200px;
}

blockquote::before,
blockquote::after {
  font-size: 12rem;
  position: absolute;
  text-shadow: 
    3px 3px $secondary,
    -3px -3px $tertiary;
}

blockquote::before {
  content: "“";
  top: 40px;
  left: -20px;
}

blockquote::after {
  content: "”";
  bottom: -30px;
  right: -20px;
}

.userInput {
  display: flex;
  justify-content: space-between;
  width: 50%;
  margin-top: 40px;
  padding-bottom: 40px;
}

.score{
  @include flex(column);
}
