.guess {
  height: 55px;
  width: 150px;
  position: relative;
  background: darken($highlight, 1.5%);
  border: none;

  svg {
    height: 55px;
    left: 0;
    position: absolute;
    top: 0; 
    width: 100%; 
  }
  
  rect {
    fill: none;
    stroke: $main;
    stroke-width: 2;
    stroke-dasharray: 422, 0;
    transition: all 0.35s linear;
  }
}

.guess:hover,
.guess:focus {
  background: rgba($highlight, 0);
  letter-spacing: 1px;
  
  rect {
    stroke-width: 5;
    stroke-dasharray: 15, 310;
    stroke-dashoffset: 48;
    transition: all 1.35s cubic-bezier(0.19, 1, 0.22, 1);
  }
}

.kanye {
  // color: $highlight;
  color: $main;
}

.trump {
  color: $secondary;
}

.nextQuestion {
  @include flex(row);
}