footer {
  @include flex(row);
  background: $light;
  height: 5vh;

  a {
    text-decoration: none;
    color: $secondary;

    &:hover,
    &:focus {
      outline: none;
      color: $tertiary;
    }
  }
}
