//Large Desktops
@media (min-width: 1450px) {
  h1 {
    font-size: 10rem;
    line-height: 12rem;
  }

  h2 {
    font-size: 6rem;
    line-height: 8rem;
  }

  h3 {
    font-size: 3.8rem;
    line-height: 4.6rem;
  }

  h4 {
    font-size: 5rem;
    line-height: 6rem;
  }

  main {
    font-size: 2.4rem;
    line-height: 4rem;
  }

  footer {
    font-size: 2rem;
    line-height: 3rem;
  }

  button {
    font-size: 2.6rem;
    line-height: 3.8rem;
  }
} // end of 1400px

//Portrait tablet and small desktops
@media (max-width: 940px) {
  blockquote {
    width: 60%;
  }

  .userInput {
    width: 70%;
  }
} // end of 940px

//Landscape phone to portrait tablet
@media (max-width: 768px) {
  h1 {
    font-size: 6rem;
    line-height: 7.8rem;
  }

  h2 {
    font-size: 3.6rem;
    line-height: 5.4rem;
  }

  .content {
    height: 45vh;
  }

  .headShots {
    height: auto;
  }

  @keyframes headExpand {
    from {
      -webkit-filter: drop-shadow(5px -5px $secondary)
        drop-shadow(-5px 5px $tertiary);
      filter: drop-shadow(5px -5px $secondary) drop-shadow(-5px 5px $tertiary);
    }
    to {
      -webkit-filter: drop-shadow(10px -10px $secondary)
        drop-shadow(-10px 10px $tertiary);
      filter: drop-shadow(10px -10px $secondary)
        drop-shadow(-10px 10px $tertiary);
    }
  }

  @keyframes kanyeSpin {
    from {
      transform: rotate(0deg);
      -webkit-filter: drop-shadow(5px -5px $secondary)
        drop-shadow(-5px 5px $tertiary);
      filter: drop-shadow(5px -5px $secondary) drop-shadow(-5px 5px $tertiary);
    }
    to {
      transform: rotate(-360deg);
      -webkit-filter: drop-shadow(10px -10px $secondary)
        drop-shadow(-10px 10px $tertiary);
      filter: drop-shadow(10px -10px $secondary)
        drop-shadow(-10px 10px $tertiary);
    }
  }

  @keyframes trumpSpin {
    from {
      transform: rotate(0deg);
      -webkit-filter: drop-shadow(5px -5px $secondary)
        drop-shadow(-5px 5px $tertiary);
      filter: drop-shadow(5px -5px $secondary) drop-shadow(-5px 5px $tertiary);
    }
    to {
      transform: rotate(360deg);
      -webkit-filter: drop-shadow(10px -10px $secondary)
        drop-shadow(-10px 10px $tertiary);
      filter: drop-shadow(10px -10px $secondary)
        drop-shadow(-10px 10px $tertiary);
    }
  }
} // end of 768px

//Responsive resizing and Nexus Tablet
@media (max-width: 600px) {
  h3 {
    font-size: 2rem;
  }

  .userInput {
    width: 100%;
  }

  footer {
    font-size: 1.2rem;
    line-height: 2rem;
  }
} // end of 600px

@media (max-width: 575px) {
  h1 {
    font-size: 5rem;
    line-height: 6.2rem;
  }

  h2 {
    font-size: 3rem;
    line-height: 4.2rem;
  }
} // end of 575px

//Landscape phones and down
@media (max-width: 480px) {
  header {
    height: 15vh;
  }

  h1 {
    font-size: 3.8rem;
    line-height: 5.6rem;
  }

  h2 {
    font-size: 2.8rem;
    line-height: 4.4rem;
  }

  h3 {
    font-size: 1.8rem;
    line-height: 3rem;
  }

  main {
    font-size: 1.6rem;
    line-height: 3rem;
    height: 80vh;
  }

  .content {
    height: 57vh;
  }

  .guess {
    font-size: 1.8rem;
    line-height: 2.2rem;
    height: 45px;
    width: 100px;
  }

  blockquote {
    width: 80%;
  }

  .userInput {
    width: 100%;
  }

  .finalScore {
    padding: 20px 40px;
  }

  @keyframes incorrectScoreFade {
    0% {
      color: rgba($incorrect, 1);
      top: 0;
    }
    15%,
    45%,
    65% {
      color: rgba($incorrect, 1);
      top: 45px;
    }
    20% {
      color: rgba($incorrect, 1);
      top: 55px;
    }
    25%,
    35% {
      color: rgba($incorrect, 1);
      top: 35px;
    }
    30% {
      color: rgba($incorrect, 1);
      top: 50px;
    }
    100% {
      color: rgba($incorrect, 0);
      top: 45px;
    }
  }
} // end of 480px

//Even smaller
@media (max-width: 380px) {
  h1 {
    font-size: 3.6rem;
  }

  h2 {
    font-size: 2.4rem;
  }

  h3 {
    font-size: 1.6rem;
    line-height: 2.2rem;
  }

  main {
    @include flex(column, space-between);
  }

  blockquote {
    margin-top: 30px;
  }

  .finalScore {
    padding: 20px 20px;
  }

  footer {
    font-size: 1rem;
  }
} // end of 380px

//teeny phones aka iphone5
@media (max-width: 320px) {
  h1 {
    font-size: 3.2rem;
  }

  h2 {
    font-size: 2.2rem;
  }

  .score p:first-child {
    font-size: 1.4rem;
  }

  .guess {
    font-size: 1.6rem;
    line-height: 2rem;
    height: 35px;
    width: 85px;
  }

  .headShots {
    bottom: 25px;
  }

  blockquote::before,
  blockquote::after {
    font-size: 9rem;
  }

  blockquote::before {
    top: 25px;
  }

  blockquote::after {
    bottom: -35px;
  }

  footer {
    font-size: 0.9rem;
  }

  @keyframes headExpand {
    from {
      -webkit-filter: drop-shadow(3px -3px $secondary)
        drop-shadow(-3px 3px $tertiary);
      filter: drop-shadow(3px -3px $secondary) drop-shadow(-3px 3px $tertiary);
    }
    to {
      -webkit-filter: drop-shadow(6px -6px $secondary)
        drop-shadow(-6px 6px $tertiary);
      filter: drop-shadow(6px -6px $secondary) drop-shadow(-6px 6px $tertiary);
    }
  }

  @keyframes kanyeSpin {
    from {
      transform: rotate(0deg);
      -webkit-filter: drop-shadow(3px -3px $secondary)
        drop-shadow(-3px 3px $tertiary);
      filter: drop-shadow(3px -3px $secondary) drop-shadow(-3px 3px $tertiary);
    }
    to {
      transform: rotate(-360deg);
      -webkit-filter: drop-shadow(6px -6px $secondary)
        drop-shadow(-6px 6px $tertiary);
      filter: drop-shadow(6px -6px $secondary) drop-shadow(-6px 6px $tertiary);
    }
  }

  @keyframes trumpSpin {
    from {
      transform: rotate(0deg);
      -webkit-filter: drop-shadow(3px -3px $secondary)
        drop-shadow(-3px 3px $tertiary);
      filter: drop-shadow(3px -3px $secondary) drop-shadow(-3px 3px $tertiary);
    }
    to {
      transform: rotate(360deg);
      -webkit-filter: drop-shadow(6px -6px $secondary)
        drop-shadow(-6px 6px $tertiary);
      filter: drop-shadow(6px -6px $secondary) drop-shadow(-6px 6px $tertiary);
    }
  }
} // end of 320px
