.results {
  @include flex(column);
  width: 100%;
  height: 60vh;
}

.finalScore {
  @include flex(column);
  border: 2px solid $main;
  background: #fff;
  padding: 20px 80px;
}

.results .currentScore {
  color: $secondary;
}
