//All font stylings

html {
  font-size: 62.5%;
  font-family: $body;
}

h1 {
  @include fontStyle(8rem, 10rem, $main);
  font-family: $header;
  text-shadow: 2px 2px $highlight;
}

h2 {
  @include fontStyle(4rem, 6rem, $highlight);
  font-family: $header;
  text-shadow: 2px 2px $main;
}

main {
  @include fontStyle(2rem, 4rem, #000);
}

footer {
  @include fontStyle(2rem, 3rem, $highlight);
}

button {
  @include fontStyle(2.2rem, 3.8rem, #000);
  font-family: $header;
}
