//====================
// All Font Stylings
//====================
html {
  font-size: 62.5%;
  font-family: $body;
}

//====================
// Headings
//====================
h1 {
  @include fontStyle(8rem, 10rem, $main, $header, 900);
  text-shadow: -1px -1px $secondary, -2px -2px $secondary, -3px -3px $secondary,
    -4px -4px $secondary, -5px -5px $tertiary, -6px -6px $tertiary,
    -7px -7px $tertiary, -8px -8px $tertiary;
}

h2 {
  @include fontStyle(4rem, 6rem, $main, $header);
  text-transform: uppercase;
  text-shadow: -1px -1px $main, -2px -2px $tertiary, -3px -3px $tertiary,
    -4px -4px $tertiary;
}

h3 {
  @include fontStyle(2.4rem, 3.6rem, $main);
}

h4 {
  @include fontStyle(4rem, 5rem, $quaternary, $header);
  padding-bottom: 10px;
}

//====================
// Not the Headings
//====================
main {
  @include fontStyle(2rem, 4rem, $light);
}

footer {
  @include fontStyle(1.7rem, 3rem, $quaternary, $header);
}

blockquote::before,
blockquote::after {
  font-size: 12rem;
  color: $main;
  text-shadow: 1px 1px $secondary, 2px 2px $secondary, 3px 3px $secondary,
    -1px -1px $tertiary, -2px -2px $tertiary, -3px -3px $tertiary;
}

button {
  @include fontStyle(2.2rem, 3.8rem, $secondary, $header, 900);
  text-transform: uppercase;

  &.trump {
    color: $tertiary;
  }
}

.scoreChange {
  @include fontStyle(3rem, 5rem, $light, $header);
}

.currentScore {
  @include fontStyle(3.3rem, 4rem, $main, $header, 900);
  text-shadow: -1px 1px $secondary, -2px 2px $secondary, -3px 3px $secondary;
}

i {
  @include fontStyle(4rem, 5rem, $secondary);
}

.results {
  .currentScore,
  .answers {
    color: $secondary;
    text-shadow: none;
  }
}

.finalScore {
  color: $tertiary;
}
