//All font stylings
html {
  font-size: 62.5%;
  font-family: $body;
}

//headers
h1 {
  @include fontStyle(8rem, 10rem, #2c2f30);
  font-family: $header;
  font-weight: 900;
}

h2 {
  @include fontStyle(4rem, 6rem, $quaternary);
  font-family: $header;
  font-weight: 400;
  text-transform: uppercase;
}

h3 {
  @include fontStyle(2.4rem, 3.6rem, #fff);
}

h4 {
  @include fontStyle(4rem, 5rem, $main);
  font-family: $header;
  padding-bottom: 10px;
}

//non header styling
main {
  @include fontStyle(2rem, 4rem, #000);
}

footer {
  @include fontStyle(1.7rem, 3rem, $quaternary);
  font-family: $header;
  font-weight: 400;
}

button {
  @include fontStyle(2.2rem, 3.8rem, #000);
  font-family: $header;
  font-weight: 900;
  text-transform: uppercase;
}

span {
  @include fontStyle(3.6rem, 5rem, $main);
}
