//colours
$main: #181a1a;
$secondary: #228cdb;
$tertiary: #7e52a0;
$quaternary: #f3e367;
$background: #6e7475;
$light: #fff;
$correct: #078627;
$incorrect: #b30606;

//fonts
$header: "Lato", sans-serif;
$body: 'Cardo', serif;

//mixins
@mixin flex($direction, $justContent: center) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justContent;
  align-items: center;
}

@mixin fontStyle($size, $lh, $color, $fam: $body, $weight: 400) {
  font-family: $fam;
  font-weight: $weight;
  font-size: $size;
  line-height: $lh;
  color: $color;
}
