//====================
// OG Colours
//====================
// main colours
$main: #fff;
$secondary: #D83F87;
$tertiary: #14A098;
$quaternary: rgb(24, 65, 75);

// background colours
$background: #1e2020;
$light: rgb(196, 194, 194);

// score change colours
$correct: #5ab471;
$incorrect: #b10153;

//====================
// Fonts
//====================
$header: "Lato", sans-serif;
$body: 'Cardo', serif;

//====================
// Mixins
//====================
@mixin flex($direction, $justContent: center) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justContent;
  align-items: center;
}

@mixin fontStyle($size, $lh, $color, $fam: $body, $weight: 400) {
  font-family: $fam;
  font-weight: $weight;
  font-size: $size;
  line-height: $lh;
  color: $color;
}

//responsive mixins
@mixin smallPhone {
  @media (max-width: 320px) {
    @content;
  }
}
@mixin regPhones {
  @media (max-width: 480px) {
    @content;
  }
}
@mixin tablet {
  @media (max-width: 768px) {
    @content;
  }
}
@mixin tabletToDesktop {
  @media (max-width: 940px) {
    @content;
  }
}
@mixin regDesktop {
  @media (max-width: 1200px) {
    @content;
  }
}
@mixin largeDesktop {
  @media (min-width: 1201px) {
    @content;
  }
}
