//colours
$main: #002868;
$secondary: #bf0a30;
$background: #f0d5d8;
$highlight: #cfb53b;

//fonts
$header: 'Libre Baskerville', serif;
$body: 'Roboto', sans-serif;

//mixins
@mixin flex($direction) {
  display: flex;
  flex-direction: $direction;
  justify-content: center;
  align-items: center;
}

@mixin fontStyle($size, $lh, $color) {
  font-family: $body;
  font-size: $size;
  line-height: $lh;
  color: $color;
}
