@import "setup";
@import "variablesAndMixins";
@import "typography";
@import "wrapper";
@import "buttons";
@import "header";
@import "bodyContent";
@import "results";
@import "footer";
@import "queries";

//global image styling
img {
  display: block;
  max-width: 100%;
  width: 100%;
  object-fit: cover;
}
